@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  font-family: Inter;
  box-sizing: inherit;
}

// standardMixins
@mixin clearFix {
  &::after {
    content: " ";
    display: table;
    clear: both;
  }
}

@mixin flexCenterSpaceBtw {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

//Colors

$toogleDark: linear-gradient(to right, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
$LightToggle: hsl(230, 22%, 74%);

$arrowUp: hsl(163, 72%, 41%);
$arrowDown: hsl(356, 69%, 56%);

$borderFacebook: hsl(208, 92%, 53%);
$borderTwitter: hsl(203, 89%, 53%);
$borderInstagram: linear-gradient(
  to right,
  hsl(37, 97%, 70%),
  hsl(329, 70%, 58%)
);
$borderYouTube: hsl(348, 97%, 39%);

//media Queries
@mixin respond($breakpoint) {
  @if $breakpoint == mobile {
    @media screen and (max-width: 23.5em) {
      // old
    // @media screen and (max-width: 23.43751em) { 
      //375px
      @content;
    }
  }
  @if $breakpoint == mobile-large {
    @media screen and (max-width: 26.5625em) {
      //425px
      @content;
    }
  }
  @if $breakpoint == mobile-land {
    @media screen and (min-width: 37.5em) {
      //600px
      @content;
    }
  }
  @if $breakpoint == tab-port {
    @media screen and (min-width: 56.25em) {
      //900px
      @content;
    }
  }

  @if $breakpoint == laptop-small {
    @media screen and (min-width: 64em) {
      //1024px
      @content;
    }
  }
  @if $breakpoint == laptop-big {
    @media screen and (min-width: 75em) {
      //1200px
      @content;
    }
  }
  @if $breakpoint == Desktop {
    @media screen and (min-width: 90em) {
      //1440px
      @content;
    }
  }
}

//base

html {
  font-size: 62.5%; // 1rem = 10px 10/16*100 62.5%

  @include respond(mobile) {
    // 1rem = 8px  8/16*100 50%
    font-size: 50%;
  };
  @include respond(mobile-large) {
    // 1rem = 8px  8/16*100 50%
    font-size: 50%;
  };
  @include respond(mobile-land){
      font-size: 53.125%
  };
  @include respond(laptop-small) {
    //1rem = 9px 9/16*100 56.25%
    font-size: 56.25%;
  };
  @include respond(laptop-big) {
    //1rem = 12px 12/16*100 75%
    font-size: 75%;
  };

  @include respond(desktop) {
    font-size: 87.5%; //1rem = 14px 14/16 = 87.5%
  };

    --mainBackground: hsl(0, 0%, 100%);
    --subBackground: hsl(225, 100%, 98%);
    --cardColor: hsl(227, 47%, 96%);
    --textColor: hsl(228, 12%, 44%);
    --darkertextColor: hsl(230, 17%, 14%);
    --git:hsl(228, 45%, 44%);
    --gist:black;
    --hoverCard: #dde2f3;
    // html.transition,
    // html.transition *,
    // html.transition *:before,
    // html.transition *:after {
    // transition: cubic-bezier(0.68, -0.55, 0.27, 01.55) 420ms!important;
    // transition-delay: 0!important;

    // .transition {
    //   transition: cubic-bezier(0.68, -0.55, 0.27, 01.55) 5s!important;
    //   transition-delay: 0!important;
    // }



}

html[data-theme='dark'] {

    --mainBackground: hsl(230, 17%, 14%);
    --subBackground: hsl(232, 19%, 15%);
    --cardColor: hsl(228, 28%, 20%);
    --textColor: hsl(228, 34%, 66%);
    --darkertextColor: hsl(0, 0%, 100%);
    $lightencard: hsl(228, 28%, 20%);
    --gist: yellow;
    --git: red;
    --hoverCard:#2e3552;
}

$lightencard: hsl(228, 28%, 20%);



body {
  padding: 3rem;
  box-sizing: border-box;
  position: relative;
  background-color: var(--mainBackground);
  &::after {
    border-radius: 0.5rem;
    content: "";
    position: absolute;
    top: -0.4rem;
    left: 0;
    right: 0;
    bottom: 0px;
    height: 22rem;
    background-color: var(--subBackground);
    z-index: -2;

    @include respond(mobile){
      height: 30rem;
      border-radius: 3rem;
    }
    @include respond(mobile-large){
      height: 30rem;
      border-radius: 3rem;
    }

    @include respond(mobile-land){
      height: 15.8rem;
    }

    
  }
}

// Other Variables
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 4rem;
$gutter-horizontal: 3rem;
$gutter-horizontal-small: 1.5rem;

.row {
  max-width: $grid-width;
  margin: 0 auto;

  &:not(:last-child) {
    margin-bottom: $gutter-vertical;

    @include respond(mobile-land){
      margin-bottom: $gutter-vertical-small;
    }
  }

  @include clearFix();

  [class^="col-"] {
    float: left;

    &:not(:last-child) {
      margin-right: $gutter-horizontal;
      @include respond(mobile-land) {
        margin-right: $gutter-horizontal-small;
      }
    }
  }

  .col-1-of-4 {
    width: calc((100% - 3 * #{$gutter-horizontal}) / 4);
    
    @include respond(mobile-land) {
      width: calc((100% - 3 * #{$gutter-horizontal-small}) / 4);
    }

    @include respond(mobile){
      width: 100%;
      margin-bottom: 3rem;
      &:last-child {
        margin-bottom: 0;
      }
    }
    @include respond(mobile-large){
      width: 100%;
      margin-bottom: 3rem;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .col-2-of-4 {
    width: calc((100% - 3.3 * #{$gutter-horizontal}) / 4);
    
    @include respond(mobile-land){
      width: calc((100% - 3 * #{$gutter-horizontal-small}) / 4);
      height: 10rem;
    }
    
    @include respond(mobile){
      width: 100%;
      margin-bottom: 2rem;
      &:last-child{
        margin-bottom: 0;
      }
    }
    @include respond(mobile-large){
      width: 100%;
      margin-bottom: 2rem;
      &:last-child{
        margin-bottom: 0;
      }
    }
  }
  
}

.features {
  &__header {
    max-width: $grid-width;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: $gutter-vertical/2;

    @include respond(mobile-land) {
      margin-bottom: $gutter-vertical-small/2;
    }

    @include respond(mobile){
      display: block;
      margin-bottom: $gutter-vertical/4 * 3;
    }
    @include respond(mobile-large){
      display: block;
      margin-bottom: $gutter-vertical/4 * 3;
    }
  }

  &__headtag {
    h2 {
      font-size: 2.5em;
      color: var(--darkertextColor)
    }
    h4 {
      font-size: 1.3em;
      color: var(--textColor);
    }
    @include respond(mobile){
      padding-bottom: 2rem;
      margin-bottom: 2rem;
      border-bottom: solid .2rem var(--textColor);
      h2{font-size: 3.1rem;}
      h4{font-size: 1.85rem;padding-top: .8rem;}
    }
    @include respond(mobile-large){
      padding-bottom: 2rem;
      margin-bottom: 2rem;
      border-bottom: solid .2rem var(--textColor);
      h2{font-size: 3.1rem;}
      h4{font-size: 1.85rem;padding-top: .8rem;}
    }
  }
  &__switch {
    display: flex;
    @include respond(mobile){
      justify-content: space-between;
      align-items: center;
    }
    @include respond(mobile-large){
      justify-content: space-between;
      align-items: center;
    }

    h4 {
      font-size: 1.3rem;
      color: var(--textColor);
      margin-right: 0.5rem;

      @include respond(mobile){
        font-size: 2rem;
      }
      @include respond(mobile-large){
        font-size: 2rem;
      }
    }

    .switch {
      position: relative;
      display: inline-block;
      width: 4.5rem;
      height: 2rem;

      & > input {
        opacity: 0;
        width: 0;
        height: 0;
      }
    }

    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: $LightToggle;
      transition: 0.4s;

      &:before {
        position: absolute;
        content: "";
        height: 1.6rem;
        width: 1.6rem;
        left: 0px;
        bottom: 0.2rem;
        background-color: white;
        transition: 0.4s;
      }

      &.round {
        border-radius: 2rem;

        &:before {
          border-radius: 50%;
        }
      }
    }

    input:checked + .slider {
      background: $toogleDark;
    }
    input:focus + .slider {
      box-shadow: 0 0 1px transparent;
    }

    input:checked + .slider:before {
      transform: translateX(2.6rem);
    }
  }

  &__cards {
    // @include respond(mobile){
    //   display: block;
    // }
    margin-bottom: 2 * $gutter-horizontal !important;

    @include respond(mobile-land){
      margin-bottom: 2 * $gutter-horizontal-small !important;
    }


    .fourbyone {
      background-color: var(--cardColor);
      text-align: center;
      padding: 2.5rem 0;
      border-bottom-right-radius: 0.5rem;
      border-bottom-left-radius: 0.5rem;

      @include respond(mobile-land){
        padding: 1.5rem 0;
      }
      @include respond(mobile){
        padding: 5rem 0;
      }
      @include respond(mobile-large){
        padding: 5rem 0;
      }

      .social {
        width: max-content;
        margin: 0 auto;
        padding-bottom: 1.5rem;
        display: flex;
        align-items: center;

        @include respond(mobile-land){
          padding-bottom: 1rem;
        }

        img {
          margin-right: 0.5rem;
          @include respond(mobile-land){
            width: 15%;
          }
        }

        p {
          letter-spacing: initial;
          text-transform: initial;
          font-weight: 600;
          font-size: inherit;

          @include respond(mobile-land){
            font-size: .8rem;
          }
          @include respond(mobile) {
            font-size: 1.4rem;
          }
          @include respond(mobile-large) {
            font-size: 1.4rem;
          }
        }
        
      }

      .plusOrMinus {
        width: fit-content;
        margin: 0 auto;
        padding-top: 2rem;
        display: flex;
        align-items: center;
        font-weight: 600;

        @include respond(mobile-land){
          padding-top: 1rem;
          align-items: baseline;
        }

        img {
          height: 0.5rem;
          width: 0.5rem;
          margin-right: 0.5rem;

          @include respond(mobile-land){
            margin-right: 0.2rem;
          }
          @include respond(mobile){
            height: 0.8rem;
            width: 0.8rem;
          }
          @include respond(mobile-large){
            height: 0.8rem;
            width: 0.8rem;
          }
        }

        p {
          letter-spacing: initial;
          text-transform: initial;
          color: inherit;
          font-size: inherit;

          @include respond(mobile-land){
            font-size: .6rem;
          }
          @include respond(mobile){
            font-size: 1.4rem;
          }
          @include respond(mobile-large){
            font-size: 1.4rem;
          }
        }
      }

      .plus {
        color: $arrowUp;
      }

      .minus {
        color: $arrowDown;
      }

      h3 {
        font-size: 5rem;
        color: var(--darkertextColor);

        @include respond(mobile-land){
          font-size: 2.8rem;
        }
        @include respond(mobile){
          font-size: 6rem;
        }
        @include respond(mobile-large){
          font-size: 6rem;
        }
      }

      p {
        font-size: 1.2rem;
        letter-spacing: 0.5rem;
        text-transform: uppercase;
        color: var(--textColor);

        @include respond(mobile-land){
          font-size: .6rem;
          letter-spacing: 0.4rem;
        }
        
        @include respond(mobile){
          font-size: 1.4rem;
          letter-spacing: 0.6rem;
        }
        @include respond(mobile-large){
          font-size: 1.4rem;
          letter-spacing: 0.6rem;
        }
      }
      

      &:active,
      &:hover {
        background-color: var(--hoverCard);
        cursor: pointer;
      }
    }

    [class^="col-"] {
      border-radius: 0.5rem;
      border-top: 0.4rem solid;

      @include respond(mobile) {
        border-radius: 0.6rem;
        border-top: 0.6rem solid;
      }
      @include respond(mobile-large) {
        border-radius: 0.6rem;
        border-top: 0.6rem solid;
      }

      &:first-child {
        border-color:  $borderFacebook;
      }
      &:nth-child(2) {
        border-color:  $borderTwitter;
      }
      &:nth-child(3) {
        position: relative;
        border-color:  transparent;
        &::after {
          border-radius: 0.5rem;
          content: "";
          position: absolute;
          top: -0.4rem;
          left: 1px;
          right: 1px;
          bottom: 1px;
          background: $borderInstagram;
          z-index: -1;

          @include respond(mobile){
            top: -0.6rem;
            border-radius: 0.6rem;
          }
          @include respond(mobile-large){
            top: -0.6rem;
            border-radius: 0.6rem;
          }
        }
      }
      &:last-child {
        border-color:  $borderYouTube;
      }
    }
  }

  &__metrics-cards {
    margin-bottom: $gutter-horizontal !important;

    @include respond(mobile-land){
      margin-bottom: $gutter-horizontal-small !important;
    }
    // @include respond(mobile){
    //   margin-bottom: 2rem !important;
    // }



    [class^="col-"] {
      background-color: var(--cardColor);
      border-radius: 0.5rem;

      &:active,
      &:hover {
        background-color: var(--hoverCard);
        cursor: pointer;
      }

      &:not(:last-child) {
        margin-right: $gutter-horizontal;

        @include respond(mobile-land){
          margin-right: $gutter-horizontal-small;
        }
      }

      // @include clearFix();
    }

    .containerSmall {
      padding: 2rem;

      @include respond(mobile-land){
        padding: 2rem 1rem;
      }

      @include respond(mobile){
        padding: 3rem 4rem 3rem 3rem;
      }
      @include respond(mobile-large){
        padding: 3rem 4rem 3rem 3rem;
      }

      .metrics-title {
        margin-bottom: 2rem;
        @include flexCenterSpaceBtw();

        @include respond(mobile-land){
          margin-bottom: 1rem;
        }

        h6 {
          font-size: 1.2rem;
          color: var(--textColor);

          @include respond(mobile-land){
            font-size: .6rem;
          }

          @include respond(mobile){
            font-size: 1.6rem;
          }
          @include respond(mobile-large){
            font-size: 1.6rem;
          }
        }

        img {
          height: 1.5rem;
          width: auto;

          @include respond(mobile) {
            height: 2.4rem;
          }
          @include respond(mobile-large) {
            height: 2.4rem;
          }
        }
      }
      .metrics-index {
        @include flexCenterSpaceBtw();
        align-items: flex-end !important;
        @include respond(mobile-land){
          align-items: baseline !important;
        }


        .plusOrMinus {
          @include flexCenterSpaceBtw();
          
          img {
            margin-right: 0.5rem;
          }
          font-weight: 600;
          font-size: 1.1rem;

          @include respond(mobile-land){
            font-size: .6rem;

            img{
              margin-right: .25rem;
              height: .25rem;
              width: auto;
            }
          }

          @include respond(mobile){
            font-size: 1.6rem;
          }
          @include respond(mobile-large){
            font-size: 1.6rem;
          }
          
        }

        .plus {
          color: $arrowUp;
        }

        .minus {
          color: $arrowDown;
        }

        h5 {
          font-size: 3rem;
          color: var(--darkertextColor);
          // @include respond(laptop-small){
          //   font-size: 2.3rem;
          // }
          @include respond(mobile-land){
            font-size: 2rem;
          }
          @include respond(mobile){
            font-size: 3.8rem;
          }
          @include respond(mobile-large){
            font-size: 3.8rem;
          }
        }
      }
    }
  }

}
.fishy{
  h2{
    font-size: 2.5em;
    color:var(--textColor)
  }
  // @include respond(mobile) {
  //   h2{
  //     font-size: 1.8rem;
  //   }
  // }
}
.attribution {
  font-size: 1rem;
  text-align: center;
  color: var(--gist);
  @include respond(mobile){
    margin-top: 3rem;
  }
}

.attribution a {
  color: var(--git) ;
  text-decoration: none;
}

  html.transition,
  html.transition *,
  html.transition *:before,
  html.transition *:after {
    transition: cubic-bezier(0.68, -0.55, 0.27, 01.55) 420ms!important;
    transition-delay: 0!important;
  }

